{% extends "points/layout.html" %}

{% block body %}
    <div class="container-form">
        <h2>Scan Receipt</h2>
        {% if message %}
            <p class="alert alert-danger">{{ message }}</p>
        {% endif %}
        <form action="{% url 'scan_receipts' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input type="file" name="receipt_image" class="form-control" id="receipt_image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Scan Receipt</button>
            <a href="{% url 'index'  %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}